<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.illum.MafiaRising">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenu"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SetupPlayers" />
        <activity android:name=".test_play" />
        <activity android:name=".Pause" />
        <activity android:name=".PauseRoles" />
        <activity android:name=".Options" />
        <activity android:name=".OptionsInfo" />
        <activity android:name=".Rules" />
        <activity android:name=".RulesTutorial" />
        <activity android:name=".RulesScript" />
        <activity android:name=".RulesRoles" />
        <activity android:name=".RulesRole" />
    </application>

</manifest>
